<h1> Popular Hangovers </h1>
<div class="wine-container">
    <span *ngFor="let wine of wines">
        <div class="column">
        <h2> {{ wine.name }} </h2>
    <img src={{wine.image}} />
    <p> {{ wine.description }} </p>
    <h2> {{ wine.price | currency:'USD':true }} </h2>
</div>
</span>
    <!-- <div *ngFor="let wine of wines">
        <div class="wine-container">

            <div class="wine-name">
                {{ wine.name }}
            </div>
           
            <p>
                {{ wine.description }}
            </p>
        </div>
    </div> -->
</div>